@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root{
  --main-color:#5352ef;
  --light-color:#f7f7f7;
  --grey-color:#9f9f9f;
  --dark-color:#18161e;
}
*{
  margin: 0;
  padding: 0;

}
*, ::before, ::after{
  box-sizing: border-box;
}
.intro{
  margin-top: 200px;
  color:#2e865f;
}
.intro,.create{
  text-align: center;
}
.Email, .Password{
  height: 25px;
  margin: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  width: 300px;
  border-radius: 8px;
  border-image: linear-gradient(to right, #87ceeb, #4682b4, #8b9467);
  border-li: none;
}
input:focus{
  outline: none;
  border-image:linear-gradient(to right,#3498db, #2ecc71);
}